@using Service_Camp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
<style>
    @@font-face {
        font-family: '方正兰亭粗黑';
        src: url('../../fonts/方正兰亭粗黑.TTF') format('truetype');
    }
    body {
        padding: 0;
        background: url("../../Images/背景图.png") center top no-repeat;
        background-color: #f5f5f5;
    }

    .wrap {
        float: left; /* 自适应内容宽度 */
        position: relative;
        left: 50%;
    }

    .inner {
        position: relative;
        left: -50%;
    }

    .name {
        border: 1px solid #3169aa;
        width: 648px;
        height: 138px;
        margin-top: 98px;
        text-align: center
    }

    .title {
        color: white;
        font-size: 46px;
        margin-top: 20px;
        font-family: 方正兰亭粗黑;
        margin-bottom: 0px;
    }

    .login {
        width: 650px;
        height: 413px;
        z-index: 4;
        background-color: #fdfdfd;
        margin-top: 50px;
        box-shadow: 0px 13px 18px #d2d2d2;
    }

    .username {
        text-align: center;
        margin: 0;
        padding-top: 65px;
    }

        .username span {
            display: inline;
            margin-right: 39px;
            font-size: 18px;
            font-family: 微软雅黑;
            vertical-align:central;
        }

        .username input {
            width: 310px;
            height: 50px;
            border-style: solid;
            border-color: #c8cac9;
            border-left-width: 5px;
            background-image: url("../../Images/用户名.png");
            background-size: 20px,18px;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 11px;
            background-color: #ecf0f1;
            padding-left: 42px;
        }

    .password {
        text-align: center;
        margin: 0;
        padding-top: 48px;
    }

        .password span {
            display: inline;
            margin-right: 39px;
            font-size: 18px;
            vertical-align: central;
            font-family: 微软雅黑;
        }

        .password input {
            width: 310px;
            height: 50px;
            border-style: solid;
            border-color: #c8cac9;
            border-left-width: 5px;
            background-image: url("../../Images/密码.png");
            background-size: 20px,18px;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 11px;
            background-color: #ecf0f1;
            padding-left: 42px;
        }

    .RememberMe {
        padding-top: 11px;
    }

    #RememberMe {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #c8cac9;
    }

    .submit input {
        width: 310px;
        height: 50px;
        border-style: none;
        border-color: #6f97bc;
        border-radius: 5px;
        background-color: #6f97bc;
        color:white;
        font-size:17px;
    }

    .submit{
        margin-top:52px;
        margin-left:200px;
    }
</style>
<body>
    <div class="content">
        <div class="wrap">
            <div class="inner">
                <div class="name">
                    <p class="title">微创虚拟实验室</p>
                    <p style="color:white;font-size:14px">Wicresoft Virtual Laboratory</p>
                </div>
                <div class="login">
                    @*<section id="loginForm">*@
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="username">
                            <span>用户名: </span>
                            <input data-val="true" data-val-required="The WSAlias field is required." id="WSAlias" name="WSAlias" type="text" value="" />
                            @*@Html.ValidationMessageFor(m => m.WSAlias, "", new { @class = "text-danger" })*@
                        </div>

                        <div class="password">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;密码: </span>
                            <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                            @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="RememberMe">
                            <div class="checkbox" style="margin-left:196px">
                                <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                <label for="RememberMe" style="font-size:13px;color:#586a7e">记住密码</label>
                            </div>
                        </div>
                        <div class="submit">
                            <input type="submit" value="登陆" />
                        </div>
                        <p style="padding-left:339px">
                            @Html.ActionLink("注册", "Register")
                        </p>
                    }
                    @*</section>*@
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
